.head{
    /* background-color: rgba(8, 8, 235, 0.59); */
    background-color: blueviolet;
    font-family: 'Changa';
    padding: 5px;
    position: fixed;
    width: 1325px;
    
}


@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}

.sous-head{
   
}

.head .search-prd{
    position: absolute;
    margin-left: 400px; 
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    width: 250px;
    height: 40px;
    right: -110%;
}

input[type="search"]{
    width: 350px;
}
.head .search-prd.active{
    right: 2rem;
    transition: .4s linear;
}
.search-prd .fa-sharp{
    margin-left: -40px;
    margin-top: 10px;
}
.search-prd .fa-sharp:hover{
color: blueviolet;
}

.head .login{
    position: absolute;
    margin-left: 380px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
    width: 300px;
    height: 250px;
    right: -110%;
    margin-top: 10px;
}
.head .login h2{
    text-align: center;
}
.head .login.active{
    right: 2rem;
    transition: .4s linear;
}

.head input[type="submit"]{
    width: 150px;
    height: 30px;
    margin-left: 80px;
    margin-top: 25px;
    border: 4rem;
    
}

.head input[type="email"]{
    width: 200px;
    height: 30px;
    margin-left: 50px;
    border-radius: .5rem;
    
   
}

.head input[type="password"]{
    width: 200px;
    height: 30px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: .5rem;
     
}

.head input[type="submit"]:hover{
    background-color: blueviolet;
}
.logo{  
    color: aliceblue;
    margin-left: 30px;

}
.title label{
    margin-top: 50px;
}
.title i{
    color: orange;
}

.liens {
    margin-left: 550px;
   
}
.liens a{
    text-decoration: none;
    margin: 20px;
    color: aliceblue;
    margin-left: -1px;
}

.fa-bars{
    display: none;
}
.options{
    margin-left: 550px;
    margin-top: -35px;
}

.options i{
    margin: 10px;
    color: aliceblue;
    margin-left: 20px;
}


.sous-head{
    width: 1330px;
    height: 400px;
    margin: 5px;
    display: flex;
    align-items: center;
    background: url(./images/macbook-606763_1920.jpg) no-repeat;
    background-position: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}

.sous-head p{
    text-align: center;

}

.sous-head img{
    width: 1330px;
    height: 400px;
    margin-top: 70px;

}

.prod{
    width: 1330px;
    height: 430px;
    background-color:gainsboro;
    margin-top: 60px;
    padding: 10px;
}



.img1{
    width: 250px;
    height: 320px;
    margin-left: 40px;
    background-color:white;
    margin-top: 60px;
}


.img1 button{
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin-left: 50px;
    width: 150px;
    height: 40px;
    margin-top: -60px;
}

.img1 img{
    width: 130px;
    height: 110px;
    margin-left: 70px;
    margin-top: 20px;
}
.img1 .fa-solid{
    color:  blueviolet;
 

}
.img1 i{
    margin-top: 40px;
    margin-left: 35px;
}

.img2{
    width: 250px;
    height: 320px;
    background-color:white;
    margin-left: 500px;
    margin-top: -320px;
}

.img2 button{
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin-left: 50px;
    width: 150px;
    height: 40px;
    margin-top: -60px;
}

.img2 .fa-solid{
    color:  blueviolet;
}

.img2 img{
    width: 130px;
    height: 110px;
    margin-left: 60px;
    margin-top: 20px;
}

.img2 i{
    margin-top: 40px;
    margin-left: 50px;
}

.img3 img{
    width: 300px;
    height: 300px;
    margin-top: 15px;
}

.img3 button{
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin-left: 50px;
    width: 150px;
    height: 40px;
    margin-top: -60px;
}

.img3{
    width: 250px;
    height: 320px;
    background-color:white;
    margin-left: 1000px;
    margin-top: -320px;
    
}

.img3 img{
    width: 130px;
    height: 110px;
    margin-left: 70px;
    margin-top: 20px;
}
.img3 .fa-solid{
    color:  blueviolet;
 
}
.img3 i{
    margin-top: 40px;
    margin-left: 70px;
}
.pro{
    padding: 10px;
    font-family: 'Changa';
    text-align: center;
    margin-left: -10px;
}
.pro label{
    color: black;
    font-size: 30px;

}

.pro h4{
   background-color: blueviolet;
   color: #fff;
   display: inline-block;
   padding: 10px;
   clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.img1 label{
    margin-left: 60px;
    font-family: 'Changa';
   
}

.img1 h3{
    margin-left: 95px;
    font-family: 'Changa';
    margin-top: -10px;
}

.img2 label{
    margin-left: 40px;
    font-family: 'Changa';
   
}

.img2 h3{
    margin-left: 90px;
    font-family: 'Changa';
    margin-top: -5px;
   
}

.img3 label{
    margin-left: 100px;
    font-family: 'Changa';
   
}

.img3 h3{
    margin-left: 100px;
    font-family: 'Changa';
    margin-top: -5px;
   
}

.prom{
    width: 1330px;
    height: 410px;
    background-color:gainsboro;
    margin-top: 60px;
    padding: 10px;
}

.prm{
    padding: 10px;
    font-family: 'Changa';
    text-align: center;
    margin-left: -10px;
}
.prm label{
    color: black;
    font-size: 30px;

}

.prm h4{
   background-color: blueviolet;
   color: #fff;
   display: inline-block;
   padding: 10px;
   clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.img11 h4{
    text-decoration:line-through;
    margin-left: 100px;
    font-family: "Changa";
    margin-top: -20px;
}

.img11 h3{
    margin-left: 100px;
    font-family: "Changa";
    margin-top: -5px;
  
}

.img11 button{
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin-left: 60px;
    width: 150px;
    height: 40px;
    margin-top: -60px;
}

.img11 img{
    width: 130px;
    height: 110px;
    margin-left: 70px;
    margin-top: 20px;
}

.img11 label{
    margin-left: 95px;
   font-family: "Changa";
}

.img11 .fa-solid{
    color:  blueviolet;
 
}
.img11 i{
    margin-left: 35px;
    margin-top: 20px;
}

.img11{
    width: 250px;
    height: 320px;
    margin-left: 40px;
    background-color:white;
    margin-top: 60px;
}

.img12 h4{
    text-decoration:line-through;
    margin-left: 100px;
    font-family: "Changa";
    margin-top: -20px;
}

.img12 h3{
    margin-left: 95px;
    font-family: "Changa";
    margin-top: -5px;
  
}

.img12 button{
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin-left: 60px;
    width: 150px;
    height: 40px;
    margin-top: -60px;
}

.img12 img{
    width: 130px;
    height: 110px;
    margin-left: 70px;
    margin-top: 20px;
}

.img12 label{
    margin-left: 95px;
   font-family: "Changa";
}

.img12 .fa-solid{
    color:  blueviolet;
 
}
.img12 i{
    margin-left: 25px;
    margin-top: 20px;
}

.img12{
    width: 250px;
    height: 320px;
    background-color:white;
    margin-left: 500px;
    margin-top: -320px;
}

.img13{
    width: 250px;
    height: 318px;
    background-color:white;
    margin-left: 1000px;
    margin-top: -320px;
    
}

.img13 label{
    margin-left: 95px;
   font-family: "Changa";
}

.img13 .fa-solid{
    color:  blueviolet;
 
}
.img13 i{
    margin-left: 35px;
    margin-top: 20px;
}

.img13 h4{
    text-decoration:line-through;
    margin-left: 100px;
    font-family: "Changa";
    margin-top: -20px;
}

.img13 h3{
    margin-left: 95px;
    font-family: "Changa";
    margin-top: -5px;
  
}

.img13 button{
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin-left: 50px;
    width: 150px;
    height: 40px;
    margin-top: -100px;
}


.img13 img{
    width: 130px;
    height: 110px;
    margin-left: 70px;
    margin-top: 20px;
}


.com{
    width: 1330px;
    height: 410px;
    background-color:gainsboro;
    margin-top: 60px;
    padding: 10px;
}

.cm{
    padding: 10px;
    font-family: 'Changa';
    text-align: center;
    margin-left: -10px;
}
.cm label{
    color: black;
    font-size: 30px;

}

.cm h4{
   background-color: blueviolet;
   color: #fff;
   display: inline-block;
   padding: 10px;
   clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.img111{
    width: 250px;
    height: 340px;
    margin-left: 40px;
    background-color:white;
    margin-top: 40px;
   padding: 10px;
}

.img111 img{
    width: 130px;
    height: 110px;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 15px;
}

.ig1{
    width: 220px;
    height: 320px;
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
    
}

.img111 .fa-solid{
    color:  blueviolet;
 
}
.img111 i{
    margin-left: 35px;
    margin-top: 5px;
}

.img111 h3{
    margin-left: 70px;
    font-family: "Changa";
    margin-top: -5px;
  
}

.img111 p{
    margin-left: 30px;
   font-family: "Changa";
   margin-top: -5px;
}


.img112{
    width: 250px;
    height: 340px;
    margin-left: 40px;
    background-color:white;
    margin-top: 50px;
   padding: 10px;
   margin-left: 500px;
   margin-top: -360px;
}

.img112 img{
    width: 130px;
    height: 110px;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 15px;
}

.ig2{
    width: 220px;
    height: 320px;
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
    
}

.img112 .fa-solid{
    color:  blueviolet;
 
}
.img112 i{
    margin-left: 30px;
    margin-top: 5px;
}

.img112 h3{
    margin-left: 70px;
    font-family: "Changa";
    margin-top: -5px;
  
}

.img112 p{
    margin-left: 30px;
   font-family: "Changa";
   margin-top: -5px;
}


.img113{
    width: 250px;
    height: 340px;
    margin-left: 40px;
    background-color:white;
   padding: 10px;
   margin-left: 1000px;
   margin-top: -355px;
}

.img113 img{
    width: 130px;
    height: 110px;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 15px;
}

.ig3{
    width: 220px;
    height: 320px;
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
    
}

.img113 .fa-solid{
    color:  blueviolet;
 
}
.img113 i{
    margin-left: 35px;
    margin-top: 5px;
}

.img113 h3{
    margin-left: 50px;
    font-family: "Changa";
    margin-top: -5px;
  
}

.img113 p{
    margin-left: 30px;
   font-family: "Changa";
   margin-top: -5px;
}

.cont{
    width: 1330px;
    height: 410px;
    background-color:gainsboro;
    margin-top: 60px;
    padding: 10px;
    
}

 .head .shop{
     margin-left: 80%;
    margin-top: -10%;
    width: 250px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    display: none;
   
}  

.head .shop.active{
    right: 2rem;
    transition: .4s linear;
}

.bttn{
    width: 30px;
    height: 30px;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 7px;
    margin-top: -150px;
    position: fixed;
    right: 10px;
}


.anim{
    width: 1300px;
    height: 500px;
    background-image: url(images/mac.jpg);
    
    animation-name: animation-div;
    animation-duration: 3s;
    animation-iteration-count: infinite;
   
}

@keyframes animation-div{
    0%{
        background-image: url(images/pc.jpg);
    }
    25%{
        background-image: url(images/jeans-428614_1920.jpg);
    }

    50%{
        background-image: url(images/books-1163695_1920.jpg);
    }
    75%{
        background-image: url(images/laptop-1483974_1920.jpg);
    }
    100%{
        background-image: url(images/mac.jpg);
    }


}

footer{

        width: 1330px;
        height: 410px;
        background-color:gainsboro;
        margin-top: 60px;
        padding: 10px;
        
}